<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index.html</title>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_name/css/style.css' %}">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script src="{% static 'app_name/js/script.js' %}"></script>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <style type="text/css">
    </style>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  </head>
  <!-- ======================================================================-->
  <body>
    <h1>Hello from HTML</h1>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <h1>Thank you for your business!</h1>
    <h3>We charged your credit card for {{product.price}}</h3>
   <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  </body>
</html>