<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index.html</title>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_name/css/style.css' %}">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <script src="{% static 'app_name/js/script.js' %}"></script>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <style type="text/css">
    </style>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  </head>
  <!-- ======================================================================-->
  <body>
    <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <div class="album py-5 bg-light">
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.item}}</td>
                        <td>{{product.price}}</td>

                        <td id="links"> <!-- actions -->

                            <div id="actions">

                                <!-- TODO: Add drop down for Quantity  -->
                                <form action='/amazon/checkout' method='post'>
                                {% csrf_token %}
                                    <!-- Drop-down menu -->
                                    <div class="form-group">
                                        <label for="book">Quantity</label>
                                        <select name="book" id="book" class="form-control">
                                            <option value=1>1</option>
                                            <option value=2>2</option>
                                            <option value=3>3</option>
                                        </select>
                                    </div> <!-- form-group-->

                                    <!-- submit-button -->
                                    <input type='submit' id="submit-button" value='Buy!' class="form-control"
                                           class="shadow-lg p-3 mb-5 bg-white rounded">
                                </form>
                            </div> <!-- actions-->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
   <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
  </body>
</html>